{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input oninput="checkUsername()" autocomplete="off" autofocus class="form-control" id="password" name="password" placeholder="Old Password" type="password">
            <p class="text-danger" id="password-feedback"></p>
        </div>
        <div class="form-group">
            <input id="new-password" oninput="validateInput()" class="form-control" type="password" name="new-password" placeholder="New Password">
            <meter max="4" id="password-strength-meter"></meter>
            <p id="password-strength-text"></p>
            <p id="new-password-feedback"></p>
        </div>
        <div class="form-group">
            <input id="new-confirm" oninput="validateInput()" class="form-control" type="password" name="new-confirm" placeholder="Confirm New Password">
            <p id="new-confirm-feedback"></p>
        </div>
        <button class="btn btn-primary" id="butn" type="submit" disabled>Change Password</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <script>
        // set to false at first, but might later become true after validation
        let oldPasswordValid = false;
        let newPasswordValid = false;
        $("#new-password-feedback").text("Password needs to be atleast 8 characters long, must contain a number, a letter, a capital letter and a special symbol");
        
        function enableOrDisableSubmitBtn() {
            // disable submit btn if both username and password are valid
            $("#butn").prop("disabled", !(oldPasswordValid && newPasswordValid));
        }

        function checkUsername() {
            // // get trimmed value from input
            // const username = $('#username').val().trim();

            // // set trimmed input value
            // $("#username").val(username);

            // disable first, validate later
            $("#butn").prop("disabled", true);
            oldPasswordValid = false;

            // fire get request using username as query
            $.get("/check", {username})
            .done(data => {
                // data is true if username was valid
                oldPasswordValid = data;

                // remove error msg if is valid, else set error msg
                $('#password-feedback').text(data ? "" : "Username already in use");

                enableOrDisableSubmitBtn();
            });
        }
        function validateInput() {
            // get value from inputs
            const newPassword = $("#password").val();
            const newPasswordConfirm = $("#new-confirm").val();

            // atleast 1 capitalizedd letter, atleast 1 number and atleast 8 characters in total
            const regex = /^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/g;
            const match = newPassword.match(regex) && newPasswordConfirm.match(regex);

            $("#butn").prop("disabled", true);
            newPasswordValid = match;
            enableOrDisableSubmitBtn();
            
            const strength = {
                0: "Worst",
                1: "Bad",
                2: "Weak",
                3: "Good",
                4: "Strong"
            }    
            const meter = $("#password-strength-meter");
            const text = $("#password-strength-text");

            const result = zxcvbn(newPassword);
            
            // Update the password strength meter
            meter.val(result.score);

            // Update the text indicator
            if (newPassword.trim() !== "") {
                text.text("Strength: " + strength[result.score]); 
            } 
            else {
                text.text("");
            }
        }
    </script>
{% endblock %}
