{% extends "layout.html" %}

{% block headscript %}
{% endblock %}

{% block title %}
    Lobby
{% endblock %}

{% block main %}
    <div id="indexheader">
        <h2 style="color:#FAA916;">Pick your gamemode!</h2>
    </div>
    <div id="wrapper">
        <div id="customgame">
            <div id="classic">
                <h2 style="color:#FAA916; margin-bottom:20px;">Classic Scrivia</h2>
                <p style="color:white;">Choose lobby name, you can choose<br> the category in-game</pstyle="color:white;">
                <p style="color:white;">If no lobby exists, one will be created</pstyle="color:white;">
                <p style="color:white;">If a lobby does exist, you will join it</pstyle="color:white;">
                <form id="lobbyform" style="margin-top:50px;" action="">
                    <input id="lobbybox" autocomplete="off"/>
                    <button class="buttonsquare" id="chatbutton">Join Lobby!</button>
                </form>
            </div>
            <div id="timeattack">
                <h2 style="color:#FAA916; margin-bottom:20px;">TimeAttack!</h2>
                <p style="color:white;">Choose a category</p>
                <p style="color:white;">Answer as many questions as you can<br>until you run out of lives or time</p>
                <p style="color:white;">See yourself rise to the top of the leaderboard!</p>
                <form id="timeattackform" style="margin-top:50px;" action="">
                    <select id="timecategories">
                        <option disabled selected value>Choose Category</option>
                        <option value="animals">Animals</option>
                        <option value="video_games">Video Games</option>
                        <option value="celebrities">Celebrities</option>
                        <option value="comics">Comics</option>
                        <option value="general_knowledge">General Knowledge</option>
                    </select>
                    <button class="buttonsquare" id="chatbutton">TimeAttack!</button>
                </form>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    
    // removing user from the previous lobby if possible
    socket.emit('leaverequest');

    $('#lobbyform').submit(function(e){
        console.log("test")
        // submitting the chosen lobby
        e.preventDefault(); 
        let lobbyname = $('#lobbybox').val()
        let category = null;
        let gamemode = 'classic';

        // submitting a lobbyrequest to let the server store the chosen lobby
        socket.emit('lobbyrequest', lobbyname, category, gamemode);
        $('#lobbybox').val('');

        $.ajax({
        type : "GET",
        url : '/game',
        success: function (data) {
            window.location.href = "game"
            }
        });
        
    });

    $('#timeattackform').submit(function(e){
        console.log("test")
        // submitting the chosen lobby
        e.preventDefault(); 
        let category = $('#timecategories').val();
        let lobbyname = null;
        let gamemode = 'timeattack';

        // submitting a lobbyrequest to let the server store the chosen lobby
        socket.emit('lobbyrequest', lobbyname, category, gamemode);

        $.ajax({
        	type : "GET",
        	url : '/timeattack',
        	success: function (data) {
        		window.location.href = "timeattack"
        		}
	        });
        
    });
    
    </script>
{% endblock %}
