{% extends "layout.html" %}

{% block headscript %}
{% endblock %}

{% block title %}
    Lobby
{% endblock %}

{% block main %}
    <div id="indexheader">
        <h2></h2>
    </div>
    <div id="wrapper">
        <div id="customgame">
            <h2>Create a lobby</h2>
            <p>Choose lobby name</p>
            <p>If no lobby exists, one will be created</p>
            <p>If a lobby does exist, you will join it</p>
            <form id="lobbyform" action="">
                <input id="lobbybox" autocomplete="off"/>
                <select id="categories" onchange='onCategorySelect()'>
                    <option disabled selected value>Choose Category</option>
                    <option value="animals">Animals</option>
                    <option value="video_games">Video Games</option>
                    <option value="celebrities">Celebrities</option>
                    <option value="comics">Comics</option>
                    <option value="general_knowledge">General Knowledge</option>
                </select>
                <select id="gamemode">
                    <option disabled selected value>Choose Gamemode</option>
                    <option value="regular">Regular Scrivia</option>
                    <option value="TimeAttack">TimeAttack!</option>
                </select>
                <button class="buttonsquare" id="chatbutton">Join Lobby!</button>
            </form>
        </div>
        <div id="opengame">
            <h2>Pick a lobby</h2> 
            <ul id="opengames"></ul>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    
    // removing user from the previous lobby if possible
    socket.emit('leaverequest');

    $('#lobbyform').submit(function(e){
        // submitting the chosen lobby
        console.log("test")
        e.preventDefault(); 
        let lobbyname = $('#lobbybox').val()
        let lobbycategory = $('#categories').val()
        let gamemode = $('#gamemode').val()
        // submitting a lobbyrequest to let the server store the chosen lobby
        socket.emit('lobbyrequest', lobbyname, lobbycategory, gamemode);
        $('#lobbybox').val('');
        // redirecting to the game page
        if (gamemode == 'regular'){
            $.ajax({
        	type : "GET",
        	url : '/game',
        	success: function (data) {
        		window.location.href = "game"
        		}
	        });
        }
        else{
            $.ajax({
        	type : "GET",
        	url : '/timeattack',
        	success: function (data) {
        		window.location.href = "timeattack"
        		}
	        });
        }
        
    });

    </script>
{% endblock %}
