{% extends "layout.html" %}

{% block headscript %}
{% endblock %}

{% block title %}
Landing Page
{% endblock %}

{% block main %}
<script>
window.onload = function () {
    document.getElementById("navbarid").style.display = "none";
}
</script>

<div id="wrapper">
    <div id="landingcontent">
        <img src="/static/whitelogo.png" alt="scrivia logo" width="475" height="315" id="logo">
        <p style="color:#FFFFFF">Scrivia is an online, real-time multiplayer game where you can draw, guess and answer trivia!
            <br>
            Show off your creativity by drawing trivia questions and competing with your friends. You draw the answer to
            a question, and they guess it. <br>
            If you don't feel like playing with friends, try our single-player, adrenaline-filled TimeAttack! mode!
            <b>Completely Free!</b></p>
        <button class="registernowbutton" id="registernow" align="center">Register Now</button>
        <p style="color:#FFFFFF">If you've already registered, <a style="color:#FAA916" href="login" id="login">log in.</a></p>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    document.getElementById("registernow").addEventListener("click", function () {
        $.ajax({
            type: "GET",
            url: '/register',
            success: function (data) {
                window.location.href = "register"
            }
        });
    });
</script>
{% endblock %}