{% extends "layout.html" %}

{% block title %}
Leaderboards Original
{% endblock %}

{% block main %}
<!-- Run the script that shows and hides category on select from the drop-down menu -->
<script src="/static/select.categories.js"></script>
<h2 style="color:#FAA916">Classic Leaderboards</h2>
<!-- Select which category you want to show the leaderboards of -->
<form action="/leaderboards_classic" method="post">
    <select id="categories" onchange='onCategorySelect()'>
        <option disabled selected value>Category</option>
        <option value="combined">Total Points</option>
        <option value="animals">Animals</option>
        <option value="video_games">Video Games</option>
        <option value="celebrities">Celebrities</option>
        <option value="comics">Comics</option>
        <option value="general_knowledge">General Knowledge</option>
    </select>

    <!-- Show the tables of each category (only shown when selected) -->

    <body>
        <form id="form1">
            <table id="combined" align="center">
                <thead align="left">
                    <th>Username</th>
                    <th>Total Points</th>
                    <th>Animals</th>
                    <th>Video Games</th>
                    <th>Celebrities</th>
                    <th>Comics</th>
                    <th>General Knowledge</th>
                </thead>
                <tbody>
                    {% for player in total_points %}
                    <tr align="left">
                        <td>{{ player["username"] }}</td>
                        <td>{{ player["SUM(animals + video_games + celebrities + comics + general_knowledge)"] }}</td>
                        <td>{{ player["animals"] }}</td>
                        <td>{{ player["video_games"] }}</td>
                        <td>{{ player["celebrities"] }}</td>
                        <td>{{ player["comics"] }}</td>
                        <td>{{ player["general_knowledge"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="animals" align="center">
                <thead align="left">
                    <th>Username</th>
                    <th>Points</th>
                </thead>
                <tbody>
                    {% for player in animals_points %}
                    <tr align="left">
                        <td>{{ player["username"] }}</td>
                        <td>{{ player["animals"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="video_games" align="center">
                <thead align="left">
                    <th>Username</th>
                    <th>Points</th>
                </thead>
                <tbody>
                    {% for player in video_games_points %}
                    <tr align="left">
                        <td>{{ player["username"] }}</td>
                        <td>{{ player["video_games"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="celebrities" align="center">
                <thead align="left">
                    <th>Username</th>
                    <th>Points</th>
                </thead>
                <tbody>
                    {% for player in celebrities_points %}
                    <tr align="left">
                        <td>{{ player["username"] }}</td>
                        <td>{{ player["celebrities"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="comics" align="center">
                <thead align="left">
                    <th>Username</th>
                    <th>Points</th>
                </thead>
                <tbody>
                    {% for player in comics_points %}
                    <tr align="left">
                        <td>{{ player["username"] }}</td>
                        <td>{{ player["comics"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="general_knowledge" align="center">
                <thead align="left">
                    <th>Username</th>
                    <th>Points</th>
                </thead>
                <tbody>
                    {% for player in general_knowledge_points %}
                    <tr align="left">
                        <td>{{ player["username"] }}</td>
                        <td>{{ player["general_knowledge"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </body>

    <div id="wrapper">
        <div id="leaderboards_bottom">
            <button class="buttongeneral" id="TimeAttackbutton" style="margin: 100px">TimeAttack!</button>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        document.getElementById("TimeAttackbutton").addEventListener("click", function () {
            $.ajax({
                type: "GET",
                url: '/leaderboards_timeattack',
                success: function (data) {
                    window.location.href = "leaderboards_timeattack"
                }
            });
        });
    </script>
    {% endblock %}