{% extends "layout.html" %}

{% block headscript %}
{% endblock %}

{% block title %}
Profile Page
{% endblock %}

{% block main %}
<div id="wrapper">
    <div id="profilepagecontent">
        <h1 style="color:#FAA916">hello, {{ username }}</h1>
        <p style="color:#FFFFFF">
            <b>Date joined:</b> {{ date_joined }}<br>
            <a style="color:#FAA916" href="change_password" id="changepassword">Change password.</a>
        </p>
        <h3 style="color:#FAA916;margin: 20px;">Personal Statistics Classic</h3>
        <table align="center">
            <thead align="left">
                <th>Total Points</th>
                <th>Animals</th>
                <th>Video Games</th>
                <th>Celebrities</th>
                <th>Comics</th>
                <th>General Knowledge</th>
            </thead>
            <tbody>
                <tr align="left">
                    <td>{{ points }}</td>
                    <td>{{ animals }}</td>
                    <td>{{ video_games }}</td>
                    <td>{{ celebrities }}</td>
                    <td>{{ comics }}</td>
                    <td>{{ general_knowledge }}</td>
                </tr>
            </tbody>
        </table>
        <h3 style="color:#FAA916;margin: 20px;">Personal Statistics TimeAttack!</h3>
        <table align="center">
            <thead align="left">
                <th>Total Points</th>
                <th>Animals</th>
                <th>Video Games</th>
                <th>Celebrities</th>
                <th>Comics</th>
                <th>General Knowledge</th>
            </thead>
            <tbody>
                <tr align="left">
                    <td>{{ points_timeattack }}</td>
                    <td>{{ animals_timeattack }}</td>
                    <td>{{ video_games_timeattack }}</td>
                    <td>{{ celebrities_timeattack }}</td>
                    <td>{{ comics_timeattack }}</td>
                    <td>{{ general_knowledge_timeattack }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}