{% extends "layout.html" %}

{% block headscript %}
{% endblock %}

{% block title %}
    TimeAttack
{% endblock %}

{% block main %}
    <div id="gameinfo">
        <p id="question"></p>        
    </div>
    <div id="gamearea">
        <button class="buttonsquare" id="startbutton">Start Game!</button>
        <p id="answers"></p>
        <input type="button" value="" id="myButton1" class="buttongeneral ta_button"></input> 
        <input type="button" value="" id="myButton2" class="buttongeneral ta_button"></input> 
        <input type="button" value="" id="myButton3" class="buttongeneral ta_button"></input> 
        <input type="button" value="" id="myButton4" class="buttongeneral ta_button"></input>
        <p id='lives'></p>
        <p id="pointsdata"></p>
    </div>
        
    <script language="JavaScript">
    </script>
    <script src="he.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    
    var socket = io();

    window.onbeforeunload = function(event)
    {
        $.get('/leaverequest')
    };

    $.get("/getusername", function(data){
        username = data;
    })


    socket.emit('joinrequest');

    document.getElementById("myButton1").style.display = "none";
    document.getElementById("myButton2").style.display = "none";
    document.getElementById("myButton3").style.display = "none";
    document.getElementById("myButton4").style.display = "none";

    socket.on('newround', function(answers, question, correct, lives, pointsdata){

        document.getElementById("lives").innerHTML = ("you have " + lives + " lives");
        document.getElementById("pointsdata").innerHTML = ("you have " + pointsdata + " points");

        document.getElementById("myButton1").value=(answers[0]);
        document.getElementById("myButton2").value=(answers[1]);
        document.getElementById("myButton3").value=(answers[2]);
        document.getElementById("myButton4").value=(answers[3]);
        
        document.getElementById("question").innerHTML = (question);

        document.getElementById("myButton1").style.display = "inline";
        document.getElementById("myButton2").style.display = "inline";
        document.getElementById("myButton3").style.display = "inline";
        document.getElementById("myButton4").style.display = "inline";
    });

    socket.on('endfase', function(){
        document.getElementById("lives").innerHTML = ("");
        document.getElementById("startbutton").disabled = false;
        
        document.getElementById("myButton1").value=("");
        document.getElementById("myButton2").value=("");
        document.getElementById("myButton3").value=("");
        document.getElementById("myButton4").value=("");

        document.getElementById("myButton1").style.display = "none";
        document.getElementById("myButton2").style.display = "none";
        document.getElementById("myButton3").style.display = "none";
        document.getElementById("myButton4").style.display = "none";

        document.getElementById("question").innerHTML = ("Game over! Better luck next time");
        document.getElementById("answers").innerHTML = ("");
    });

    socket.on('pointsregister', function(username, points, category){
        let round_data = [username, points, category]
        $.get("/registerpoints?round_data=" + round_data)
    });

    document.getElementById("startbutton").addEventListener("click", function(){
        socket.emit('startTimeAttack');
        document.getElementById("startbutton").disabled = true;
        document.getElementById("startbutton").style.display = "none";
    });

    document.getElementById("myButton1").addEventListener("click", function(){
        let answer = document.getElementById("myButton1").value
        socket.emit('answer', answer);

        document.getElementById("myButton1").style.display = "none";
        document.getElementById("myButton2").style.display = "none";
        document.getElementById("myButton3").style.display = "none";
        document.getElementById("myButton4").style.display = "none";
    });
    document.getElementById("myButton2").addEventListener("click", function(){
        let answer = document.getElementById("myButton2").value
        socket.emit('answer', answer);

        document.getElementById("myButton1").style.display = "none";
        document.getElementById("myButton2").style.display = "none";
        document.getElementById("myButton3").style.display = "none";
        document.getElementById("myButton4").style.display = "none";
    });
    document.getElementById("myButton3").addEventListener("click", function(){
        let answer = document.getElementById("myButton3").value
        socket.emit('answer', answer);

        document.getElementById("myButton1").style.display = "none";
        document.getElementById("myButton2").style.display = "none";
        document.getElementById("myButton3").style.display = "none";
        document.getElementById("myButton4").style.display = "none";
    });
    document.getElementById("myButton4").addEventListener("click", function(){
        let answer = document.getElementById("myButton4").value
        socket.emit('answer', answer);
        
        document.getElementById("myButton1").style.display = "none";
        document.getElementById("myButton2").style.display = "none";
        document.getElementById("myButton3").style.display = "none";
        document.getElementById("myButton4").style.display = "none";
    });

    </script>
    {% endblock %}
