{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <script>
        function changeUsername() {
            const username = $('#username').val()

            $("#butn").prop("disabled", true);

            $.get( "/check", { name: username})
            .done(function( data ) {
                if (!data){
                    $('#username-feedback').text("Username already in use");
                }
                else{
                    $("#butn").prop("disabled", false);
                    $('#username-feedback').text("");
                }
            });
        }
        function checkPattern() {
            const password = $("#password").val()
            const passwordConfirm = $("#password-confirm").val()

            console.log(password.match(/^(?=.[A-Z])(?=.\d)[A-Za-z\d]{8,}$/g));
        }
    </script>
    <form action="/register" method="post">
        <div class="form-group">
            <input oninput="changeUsername()" autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
            <p id="username-feedback"></p>
        </div>
        <div class="form-group">
            <input id="password" oninput="checkPattern()" class="form-control" type="password" name="password" placeholder="Password">
            <p id="password-feedback"></p>
        </div>
        <div class="form-group">
            <input id="password-confirm" oninput="checkPattern()" class="form-control" type="password" name="password" placeholder="Password">
            <p id="password-confirm-feedback"></p>
        </div>
        <button class="btn btn-primary" id="butn" type="submit" disabled>Register</button>
    </form>
{% endblock %}
